pipeline/incremental_load_mod6.json
{
	"name": "incremental_load_mod6",
	"properties": {
		"activities": [
			{
				"name": "LookupNewWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT MAX(TransactionDt) as NewWatermarkvalue\nFROM [dbo].[Tickets]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarks",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyIncremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[Tickets]\nWHERE \n( TransactionDt > '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}' OR '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}'  IS NULL ) AND  TransactionDt <= '@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE stg.cinema_tickets",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CinemaCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cinema_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CinemaName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cinema_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MovieId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "movie_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TicketCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ticket_count",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TicketPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 1,
									"precision": 4
								},
								"sink": {
									"name": "ticket_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 1,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "TransactionId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionDt",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "transaction_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "stg_cinematikets",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "spPopulatetCinema",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyIncremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[populate_tCinema]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_admin",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulatetCinemaTickets",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulatetCinema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[populate_tCinemaTickets]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_admin",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_write_watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulatetCinemaTickets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LookupOldWaterMarkActivity').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_admin",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-30T16:42:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}